@use 'bootstrap/scss/bootstrap' with (
  $primary: #d337c6,
  $secondary: #6c63ff,
  $info: #4379a5,
  $success: #4caf50,
  $warning: #ff9800,
  $danger: #f44336,
  $light: #f5f1fb,
  $dark: #1a1028,
  $min-contrast-ratio: 2
);

.dvh-100 {
  height: 100dvh;
}

.safe-area-top {
  padding-top: env(safe-area-inset-top);
}

.offcanvas-start {
  padding-top: env(safe-area-inset-top);
}
